# Shopify Store URL
SHOPIFY_STORE_URL=tbgroupe-fr.myshopify.com

# Admin API Access Token
SHOPIFY_ACCESS_TOKEN=

# Collection ID to target (ex: Louis)
TARGET_COLLECTION_ID=299133665432

# Delay in days (ex: 180 for 6 months)
ORDER_DELAY_DAYS=180

SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=

# Sandbox Testing
TEST_EMAIL=
# Akeneo PIM Credentials
AKENEO_BASE_URL=http://192.168.102.22
AKENEO_CLIENT_ID=1_zcnvwb581fkwwcwc0ks84okg8oo8k8g84g8kogc8sckkwk0cc
AKENEO_SECRET=zdewmxyrkf4gsss84k4k8okck04kw00088gcgs4cojkocoo0o
AKENEO_USERNAME=test_5292
AKENEO_PASSWORD=VOTRE_MOT_DE_PASSE_AKENEO
